/*Background*/
body {
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
}
#nav {
  background-image: url(h7.jpg);
  height: 250px;
}
#home {
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0.562);
  margin-left: 420px;
  margin-right: 330px;
  color: antiquewhite;
  font-size: 25px;
}
/*Naviagtion bar*/
.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}
.icon {
  width: 200px;
  float: left;
  height: 70px;
}
.logo {
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 0px;
  margin-right: 90px;
}
h4 a {
  text-decoration: none;
  color: antiquewhite;
}
span {
  font-size: 14px;
}
.menu {
  width: 400px;
  float: left;
  height: 70px;
}
.menu ul {
  float: left;
  display: flex;
  justify-item: center;
  alighn-items: center;
  background-color: rgba(0, 0, 0, 0.582);
  padding-left: 0px;
  padding-right: 50px;
}
.menu ul li {
  list-style: none;
  margin-left: 50px;
  margin-top: 27px;
  font-size: 19px;
  margin-top: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu ul li a {
  text-decoration: none;
  color: antiquewhite;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.menu ul li a:hover {
  color: rgb(115, 68, 158);
}
/* End of Navigation bar */
#destinations {
  font-family: "Times New Roman";
  margin-left: 8px;
}
/* Destinations*/
h2 {
  background-color: #765685a6;
  height: 1.5em;
  width: 13em;
  color: #202125;
  font-weight: bold;
  padding-top: 6px;
  padding-left: 1em;
  margin-right: 34em;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 29px;
  border: 2px solid;
}
/*images*/
#desM,
#desM1,
#desM2 {
  float: left;
  width: 20em;
  height: 10em;
  margin-left: 19px;
  padding-top: 1px;
  border: 3px solid;
  border-color: #765685;
  padding: 0.1px;
  float: center;
  margin-left: 3em;
  margin-top: 0;
}
#destinations p {
  color: #765685;
  font-size: 25px;
  float: left;
  margin-left: 6em;
  margin-right: 7em;
  margin-bottom: 3px;
  margin-top: 5px;
}
