/*Background*/
body {
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
}
#nav {
  background-image: url(hs13.jpg);
  background-size: cover;
  border-bottom: 2px solid;
  height: 650px;
}
/*Naviagtion bar*/
.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}
.icon {
  width: 200px;
  float: left;
  height: 70px;
}
.logo {
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 1px;
  margin-right: 90px;
}
h4 a {
  text-decoration: none;
  color: rgba(243, 243, 243, 0.952);
}
span {
  font-size: 14px;
}
.menu {
  width: 400px;
  float: left;
  height: 70px;
}
.menu ul {
  float: left;
  display: flex;
  justify-item: center;
  alighn-items: center;
  background-color: rgba(0, 0, 0, 0.582);
  padding-left: 0px;
  padding-right: 50px;
}
.menu ul li {
  list-style: none;
  margin-left: 50px;
  margin-top: 27px;
  font-size: 19px;
  margin-top: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.menu ul li a:hover {
  color: rgba(68, 127, 245, 0.795);
}
/* End of Navigation bar */
#culture,
#history,
#places,
#food,
#currency,
#Tips {
  margin-left: 0.5em;
  margin-right: 3em;
  font-size: 16px;
  font-family: "Times New Roman";
}
h2 {
  background-color: rgba(68, 127, 245, 0.301);
  height: 1.5em;
  width: 13em;
  color: #202125;
  font-weight: bold;
  padding-top: 6px;
  padding-left: 1em;
  margin-right: 34em;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 29px;
  border: 2px solid;
}
/* Syria header*/
h1 {
  margin-top: 4em;
  background-color: rgba(0, 0, 0, 0.562);
  margin-left: 720px;
  margin-bottom: 4.6em;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-right: 0.45em;
  color: antiquewhite;
  font-size: 50px;
  padding-left: 2.4em;
  font-size: 60px;
}
